Ejercicio 1º Antes de empezar, deberéis crear una columna nueva en los dataframes de 2016.xlsx, 2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx que contenga los valores del año al que corresponden.
Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:
Cargad los siete ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir entre vosotras como podríamos juntar toda la información.

In [3]:
import pandas as pd
import numpy as np

In [4]:
df_2016 = pd.read_excel("Panda/Datos.v/2016.xlsx")
df_2016.sample(3)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
11991,THLTSR-5542526115,2016-06-05,411.0,1.0,Sistema,Solicitud,2 - Normal,3 - Alta,8.0,4.0,www.tractchun.es,1.0
9348,SHLTSR-8642411009,2016-02-11,1450.0,50.0,Sistema,Solicitud,2 - Normal,3 - Alta,3.0,5.0,www.tractchun.es,1.0
6956,KMLTSR-1542598973,2016-08-16,1217.0,29.0,Sistema,Solicitud,2 - Normal,2 - Media,5.0,3.0,www.tractchun.es,1.0

In [5]:
df_2017 = pd.read_excel("Panda/Datos.v/2017.xlsx")
df_2017.sample(3)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
7800,KMLTNT-1043043119,2017-11-04,551.0,1.0,Acceso%&Login,Solicitud,2 - Normal,2 - Media,0.0,5.0
9386,SDLTNR-9042763343,2017-01-28,534.0,13.0,Acceso%&Login,Solicitud,2 - Normal,0 - Sin Asignar,0.0,4.0
9556,SDLTSR-5142964611,2017-08-17,111.0,6.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,7.0,4.0

In [6]:
df_2018 = pd.read_excel("Panda/Datos.v/2018.xlsx")
df_2018.sample(3)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
2650,GHLTNR-0143350130,2018-09-07,543.0,11.0,Acceso-&Login,Solicitud,2 - Normal,3 - Alta,1.0,5.0
2850,GHLTNR-7043430335,2018-11-26,1503.0,43.0,Acceso-&Login,Solicitud,2 - Normal,3 - Alta,0.0,5.0
15038,SWLTSR-4443268872,2018-06-17,237.0,48.0,Sistema,Solicitud,2 - Normal,1 - Baja,14.0,5.0

In [7]:
df_2019= pd.read_excel("Panda/Datos.v/2019.xlsx")
df_2019.sample(3)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
19999,TMLEER-1843524155,2019-02-28,305.0,1.0,Software,Problema,2 - Normal,2 - Media,8.0,5.0
17563,TDLTER-9643666900,2019-07-20,1250.0,29.0,Software,Solicitud,2 - Normal,0 - Sin Asignar,6.0,5.0
13779,SHLEER-1943544666,2019-03-20,1466.0,6.0,Software,Problema,2 - Normal,3 - Alta,9.0,4.0

In [8]:
df_2020= pd.read_excel("Panda/Datos.v/2020.xlsx")
df_2020.sample(3)

,ID Ticket,Fecha,Tipo,Categoría,ID Empleado,ID Agente,Severidad,Prioridad,Días Resolución,Satisfacción
1075,GDLTET-5044024161,2020-07-12,Solicitud,Software,246.0,1.0,2 - Normal,0 - Sin Asignar,10.0,5.0
2535,GDRESR-3543852568,2020-01-22,Problema,Sistema,1526.0,45.0,3 - Mayor,0 - Sin Asignar,5.0,5.0
9789,KDLTET-4244142134,2020-11-07,Solicitud,Software,1633.0,21.0,2 - Normal,0 - Sin Asignar,2.0,3.0

Ejercicio2º Chequead que los nombres de las columnas y ver si se llaman iguales entre dataframes. ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sea así homogeneizar los nombres de las columnas para que todos los dataframes tengan el mismo formato

In [9]:
df_concat =pd.concat([df_2016, df_2017, df_2018, df_2019, df_2020], axis=0)
df_concat.sample(5)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
14020,TMLESR-5442850432,2017-04-25,1253.0,24.0,Sistema,Problema,2 - Normal,2 - Media,4.0,5.0,NaN,NaN
3816,KDLEER-6942485498,2016-04-25,59.0,4.0,Hardware,Problema,2 - Normal,0 - Sin Asignar,8.0,1.0,www.tractchun.es,1.0
8853,KHLTSR-7743217936,2018-04-27,883.0,19.0,Sistema,Solicitud,2 - Normal,3 - Alta,7.0,5.0,NaN,NaN
13392,SDLTSR-3843488566,2019-01-23,346.0,15.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,8.0,5.0,NaN,NaN
763,GDLTNR-1043211573,2018-04-21,1787.0,5.0,Acceso-&Login,Solicitud,2 - Normal,0 - Sin Asignar,0.0,5.0,NaN,NaN

In [10]:
print(df_2016.shape)
print(df_2017.shape)
print(df_2018.shape)
print(df_2019.shape)
print(df_2020.shape)
print(df_concat.shape)

(13051, 12)
(14915, 10)
(18954, 10)
(21490, 10)
(29088, 10)
(97498, 12)

Ejercicio3º En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos históricos (2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx). Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, tendréis que ver si esas columnas están en los dataframes nuevos, si es así eliminarlas. Por lo tanto, realizad los cambios que creáis necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [11]:
df_ticket= pd.read_csv("df_tikets.csv", index_col=0)
df_ticket.sample(3)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,web,índice_,semestre
11156,TDLTSR-7442479540,2016-04-19,1804.0,25.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,14.0,5.0,www.tractchun.es,1.0,1º semestre
4824,KDLTSR-8642435255,2016-03-06,1205.0,12.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,6.0,1.0,www.tractchun.es,1.0,1º semestre
10551,SWRTNR-4042714572,2016-12-10,1177.0,35.0,Acceso&%Login,Solicitud,1 - Menor,1 - Baja,0.0,5.0,www.tractchun.es,1.0,2º semestre

In [12]:
df_ticket.drop(["semestre"], axis = 1, inplace=True)

In [13]:
df_ticket.sample(5)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,web,índice_
11925,THLTSR-1942634123,2016-09-21,1922.0,11.0,Sistema,Solicitud,2 - Normal,3 - Alta,5.0,5.0,www.tractchun.es,1.0
9839,SMLTNR-2142524784,2016-06-03,1728.0,7.0,Acceso&%Login,Solicitud,2 - Normal,2 - Media,1.0,5.0,www.tractchun.es,1.0
5727,KHLTNR-2042704066,2016-11-30,1226.0,20.0,Acceso&%Login,Solicitud,2 - Normal,3 - Alta,0.0,4.0,www.tractchun.es,1.0
987,GDLTST-5742458500,2016-03-29,1360.0,35.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,7.0,5.0,www.tractchun.es,1.0
8834,SHLTER-2242608684,2016-08-26,1928.0,36.0,Hardware,Solicitud,2 - Normal,3 - Alta,9.0,1.0,www.tractchun.es,1.0

In [14]:
nom_cols={col : col.replace(" ","_").lower()for col in df_concat.columns}
df_concat.rename(columns =nom_cols, inplace = True)

In [15]:
df_concat.sample(5)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,web,índice_
7665,KHLESR-8143194763,2018-04-04,756.0,47.0,Sistema,Problema,2 - Normal,3 - Alta,1.0,4.0,NaN,NaN
1373,GDLTSR-5943256829,2018-06-05,1502.0,48.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,9.0,5.0,NaN,NaN
16138,TDLTSR-8643312062,2018-07-31,306.0,30.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,6.0,5.0,NaN,NaN
9341,KMLEER-7143251743,2018-05-31,1984.0,27.0,Software,Problema,2 - Normal,2 - Media,1.0,5.0,NaN,NaN
2806,GHLTNR-6043293401,2018-07-12,1170.0,34.0,Acceso-&Login,Solicitud,2 - Normal,3 - Alta,0.0,5.0,NaN,NaN

In [16]:
df_concat2 = pd.concat([df_concat, df_ticket], axis =0)
df_concat2.sample(5)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,web,índice_
18310,SDLTSR-7443902926,2020-03-12 00:00:00,1432.0,49.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,14.0,4.0,NaN,NaN
14817,SHLTNT-9043825949,2019-12-26 00:00:00,454.0,29.0,Acceso99Login,Solicitud,2 - Normal,3 - Alta,0.0,4.0,NaN,NaN
12470,SDLENR-8143590916,2019-05-05 00:00:00,991.0,49.0,Acceso99Login,Problema,2 - Normal,0 - Sin Asignar,1.0,4.0,NaN,NaN
11060,SDDTST-2543248688,2018-05-28 00:00:00,1108.0,6.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,15.0,5.0,NaN,NaN
10333,SHLTNR-4042872643,2017-05-17 00:00:00,614.0,26.0,Acceso%&Login,Solicitud,2 - Normal,3 - Alta,0.0,5.0,NaN,NaN

Ejercicio 4º Es el momento de unir la información de todos los puestos y los empleados. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.

In [17]:
df_empleados= pd.read_csv("Panda/Datos.v/Empleados.csv")
df_empleados.sample(3)

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
1253,NaN,1792,PEÑUÑURI,GERARDO,80-22220,gerardo.peñuñuri@tractchun.com
1238,NaN,1654,MATA,FRANCISCO,90-14100,francisco.mata@tractchun.com
235,NaN,1288,RODRIGUEZ,ISABEL,70-21100,isabel.rodriguez@tractchun.com

In [18]:
df_puestos= pd.read_excel("Panda/Datos.v/Puestos.xlsx")
df_puestos.sample(3)

   ID Puesto                Puesto           Departamento Tipo Puesto
91  90-14100  Ingeniero de Calidad  INGENIERIA DE CALIDAD   Operativo
10  15-23810    Técnico de soporte             PRODUCCION   Operativo
9   15-22211              Mecánico             PRODUCCION   Operativo

In [19]:
df_pd = df_empleados.merge(df_puestos, how= "outer",on ="ID Puesto")
df_pd.sample(5)

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Puesto,Departamento,Tipo Puesto
1017,NaN,1133.0,GUERRA,ISELA,45-11000,isela.guerra@tractchun.com,Supervisor de Aseguramiento de Calidad,INGENIERIA DE CALIDAD,Mandos Medios
1847,NaN,750.0,GOMEZ,ANGEL,40-43210,angel.gomez@tractchun.com,Auxiliar Contable,CONTABILIDAD,Administrativo
1662,NaN,705.0,GUEVARA,JESUS,20-31100,jesus.guevara@tractchun.com,Analista de Sistemas,"SISTEMAS, TRAFICO Y ADUANAS",Administrativo
1352,NaN,1447.0,OCAÑO,RAMON,50-33100,ramon.ocaño@tractchun.com,Supervisor de Control de Producción,CONTROL DE PRODUCCION,Mandos Medios
360,NaN,1570.0,MARTINEZ,ALFONSO,15-24100,alfonso.martinez@tractchun.com,Supervisor de Producción,PRODUCCION,Mandos Medios

In [20]:
df_pd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2022 entries, 0 to 2021
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Turno         8 non-null      object
 1   ID Empleado   2000 non-null   float64
 2   Apellido      2000 non-null   object
 3   Nombre        2000 non-null   object
 4   ID Puesto     2022 non-null   object
 5   Email         2000 non-null   object
 6   Puesto        2022 non-null   object
 7   Departamento  2022 non-null   object
 8   Tipo Puesto   2022 non-null   object
dtypes: float64(1), object(8)
memory usage: 158.0+ KB

Ejercicio º5 Guardad los dataframes en dos csv diferentes que usaremos mañana en la clase de pair programming
📌 NOTA Al final de este pair programing deberéis tener tres ficheros:
El fichero de la unión de todos los conjuntos de datos de los distintos años
El fichero con la unión de los datos de puestos y empleados.
El fichero de los agentes

In [24]:
df_pd.to_csv("Panda/Datos.v/pd_csv")

In [25]:
df_concat2.to_csv("Panda/Datos.v/concat2_csv")

In [27]:
df_concat.to_csv("Panda/Datos.v/concat1_csv")